.games {
  margin: auto;
  width: 1280px;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

a {
  all: unset;
}

.select_level {
  display: flex;
  flex-direction: column;
}

