.games {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  flex-flow: wrap;
}

.select_level {
  order: 2;
  display: flex;
  flex-direction: column;
}
