.game_image {
  width: 100px;
}

.game_section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 20px;
}

.game_item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 5px;
  height: 140px;
  width: 140px;
  cursor: pointer;
}

.game_item_disabled {
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 5px;
  height: 140px;
  width: 140px;
}

.disabled {
  pointer-events: none;
  cursor: default; 
}