.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  padding: 20px;
  position: relative;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
}

.close {
  font-size: 26px;
  position: absolute;
  top: 10px;
  right: 20px;
}

.close:hover {
  cursor: pointer;
}

.title {
  padding: 50px 0 0 0;
  margin: 0;
  font-size: 24px;
  line-height: 29px;
}

.form {
  padding: 40px 0 0 0;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input_item {
  display: flex;
  flex-direction: column;
}

.input_label {
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
}

.input {
  margin: 5px 0 0 0;
  padding: 0 0 10px 0;
  border: 0;
  border-bottom: 1px solid #e8e8e8;
  outline: none;
  font-size: 14px;
  line-height: 17px;
}

.input:focus {
  border-bottom: 1px solid rgba(2, 57, 134, 0.9);
}

.control_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.button {
  align-self: center;
  padding: 0;
  width: 260px;
  height: 45px;
  border: 0;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  background: rgba(2, 57, 134, 0.9);
  border-radius: 3px;
}

.button:hover {
  cursor: pointer;
}

.text_container {
  display: flex;
  align-items: center;
  gap: 7px;
}

.text {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  color: #a0a0a0;
}

.text_link {
  margin: 0;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.text_link:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .wrap {
    width: 396px;
  }
}

@media screen and (min-width: 1024px) {
  .wrap {
    width: 396px;
  }
}
