.link_list {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
