.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #023986;
  text-align: center;
  font-size: 30px;
}

.title_block {
  display: flex;
  align-items: center;
}

.select {
  font-size: 20px;
  padding: 5px;
  background-color: rgba(2, 57, 134, 0.1);
}

.wordList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #023986;
  border: 1px solid gray;
  width: 100%;
}

.wordListLearn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: gray;
  border: 1px solid gray;
  width: 100%;
}

.no_wordList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #023986;
  border: 1px solid gray;
  width: 100%;
  color: white;
  font-size: 30px;
}

.word {
  border: 2px solid gray;
  background-color: rgba(239, 239, 240,1);
  width: 150px;
  height: 100px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  cursor: pointer;
}

.wordHard {
  border: 4px solid rgb(226, 86, 86);
  background-color: rgba(239, 239, 240,1);
  width: 150px;
  height: 100px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  cursor: pointer;
}

.wordLearn {
  border: 2px solid gray;
  background-color: rgba(239, 239, 240,1);
  width: 150px;
  height: 100px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(161, 159, 156);
}

.image {
  width: 100px;
}

.game_image {
  width: 100px;
}

.no_regictration {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #023986;
  height: 100%;
  color: white;
  font-size: 30px;
  width: 100%;
}

.levels_group {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 2px 5px gray;
  width: 100%;
}

.answers {
  display: flex;
  flex-direction: column;
}

.answers__wrapper {
  display: flex;
  flex-direction: row;
}

.answer_correct {
  color: green;
}

.answer_incorrect {
  color: tomato;
}